<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="imges/logo_some.png">
    <title><%= locals.title %></title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar <%= sidebar ? '' : 'close' %>">
        <a href="/" class="logo">
            <img src="imges/logo_some.png" alt="로고 42*47">
            <div class="logo-name">
                SOME<span>POONING</span>
            </div>
        </a>
        
        <ul class="side-menu">
            <li class="<%= activeMenu === 'menu1' ? 'active' : '' %>"><a href="/"><i class='bx bxs-dashboard'></i>대쉬보드</a></li>
            <li class="<%= activeMenu === 'menu2' ? 'active' : '' %>"><a href="/sp_users"><i class='bx bx-group'></i>유저관리</a></li>
            <li class="<%= activeMenu === 'menu3' ? 'active' : '' %>"><a href="/chatting"><i class='bx bx-message-square-dots'></i>채팅관리</a></li>
            <li class="<%= activeMenu === 'menu4' ? 'active' : '' %>"><a href="/party"><i class='bx bx-party'></i>파티관리</a></li>
            <li class="<%= activeMenu === 'menu5' ? 'active' : '' %>"><a href="/shorts_gram"><i class='bx bx-video-recording'></i>쇼츠&그램</a></li>
            <li class="<%= activeMenu === 'menu6' ? 'active' : '' %>"><a href="/sales"><i class='bx bx-coin-stack'></i>매출관리</a></li>
            <li class="<%= activeMenu === 'menu7' ? 'active' : '' %>"><a href="/push"><i class='bx bx-down-arrow-circle'></i>푸쉬관리</a></li>
            <li class="<%= activeMenu === 'menu8' ? 'active' : '' %>"><a href="/announcement"><i class='bx bx-edit-alt'></i>공지관리</a></li>
            <li class="<%= activeMenu === 'menu9' ? 'active' : '' %>"><a href="/report"><i class='bx bx-no-entry'></i>신고관리</a></li>
            <li class="<%= activeMenu === 'menu10' ? 'active' : '' %>"><a href="/guide"><i class='bx bx-book-open'></i>썸푸닝가이드</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->