<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <!-- <div class="header">
                <div class="left">
                    <h1>유저관리</h1>
                </div>
            </div> -->

            <div class="user-management">
                <div class="user-list">

                    <div class="header">
                        <i class='bx bx-user'></i>
                        <h3>서류리스트</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                        <i class='bx bx-filter'></i>
                    </div>

                    <table id="myTable" class="display">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="all-check"></th>
                                <th>이름</th>
                                <th>UID</th>
                                <th>서류종류</th>
                                <th>일시</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% abilitys.forEach(abi => { %>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td><%= abi.username %></td>
                                    <td><%= abi.uid %></td>
                                    <td><%= abi.content %></td>
                                    <td><%= abi.regDate.toDate().toLocaleString() %></td>
                                    
                                </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>                    
                </div>

            </div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script>
    $(document).ready(function() {
        new DataTable('#myTable', {
            responsive: true
        });
    });
</script>


<%- include('partials/footer'); %>