<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="push-management">

                <div class="push-list">

                    <div class="header">
                        <div class="title-wrap">
                            <i class='bx bx-group'></i>
                            <h3>유저리스트</h3>
                        </div>
                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="이름을 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>

                    <div class="table-wrap">
                        <table class="push-user-list">
                            <thead>
                                <tr>
                                    <th class="all-check"><input type="checkbox"></th>
                                    <th class="name"><a href="#">이름</a></th>
                                    <th class="user-id"><a href="#">유저ID</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.users.forEach((user) => { %>
                                    <tr>
                                        <td><input type="checkbox" class="one-check" name="push_sel" value="<%= user.token %>/<%= user.uid %>"></td>
                                        <td class="user-1">
                                            <% if(user.photoUrl.length > 0) { %>
                                                <img style="border-radius: 50%;" src="<%= user.photoUrl[0] %>">
                                            <% } else { %>
                                                <img src="./imges/avatar/Avatar=13.png">
                                            <% } %>
                                            <p><%= user.username %></p>
                                        </td>
                                        <td><%= user.uid %></td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="send-msg-wrap">
                        <textarea name="pushText" id="message" class="send-push" placeholder="내용을 입력해주세요."></textarea>
                        <button class="send-btn-plus" onclick="pushSend()">
                            <span>보내기</span>
                        </button>
                    </div>
                    
                </div>

                <!-- 알림보내기 -->
                <div class="push-send-list">

                    <div class="header">
                        <i class='bx bx-user-pin'></i>
                        <h3>알림보내기</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="이름을 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table id="myTable1" class="user-push-table">
                            <thead>
                                <tr>
                                    <th class="all-check"><input type="checkbox"></th>
                                    <th class="data data-name"><a href="#">이름</a></th>
                                    <th class="data data-userid"><a href="#">유저ID</a></th>
                                    <th class="data data-con"><a href="#">알림내용</a></th>
                                    <th class="data data-daytime"><a href="#">보낸일시</a></th>
                                    <th class="data data-st"><a href="#">상태</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.pushs.forEach((push) => { %>
                                    <tr>
                                        <td><input type="checkbox" class="one-check"></td>
                                        <td class="user-id">
                                            <img src="./imges/avatar/Avatar=13.png">
                                            <p>우리두리 알콩달콩</p>
                                        </td>
                                        <td><%= push.uid %></td>
                                        <td><%= push.content %></td>
                                        <td><%= push.regDate.toDate().toLocaleString() %></td>
                                        <td class="btn">
                                            <% if(push.confirm) { %>
                                                확인
                                            <% } else { %>
                                                미확인
                                            <% } %>
                                        </td> 
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 8</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                        

                </div>
                

            </div>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script>
    function pushSend() {
        let tokens = [];
        let uids = [];
        let obj_length = document.getElementsByName('push_sel').length;
        for(let i=0 ; i<obj_length ; i++) {
            if(document.getElementsByName('push_sel')[i].checked == true) {
                tokens.push(document.getElementsByName('push_sel')[i].value.split('/')[0]);
                uids.push(document.getElementsByName('push_sel')[i].value.split('/')[1])
            }
        }
        
        if(tokens.length  == 0) {
            return alert("알림을 보낼 대상을 선택하세요.");
        }

        const pushText = document.getElementById('message').value;
        if(!pushText) {
            return alert("알림 내용을 입력해 주세요.");
        }
        
        let data = {
            uids: uids,
            tokens: tokens,
            text: pushText
        }
        
        $.ajax({
            type: 'POST',
            url: '/api/pushData',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
        }).done(function(resp) {
            alert("알림를 모두 보냈습니다.");
        }).fail(function(err) {
            alert(JSON.stringify(err));
        });

    }
</script>
            
<%- include('partials/footer'); %>