<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    
                </div>
            </div>
            
            <div class="short_gram-management">
                <!-- 쇼츠 -->
                <div class="short_gram-list">

                    <div class="header">
                        <i class='bx bx-video-recording'></i>
                        <h3>쇼츠</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>
                    
                    <div class="list-wrap">
                        <% 
                            videos.forEach((video) => {
                        %>
                            <div class="short-content">
                                <div class="content-title">
                                    <div class="text">
                                        <input type="checkbox">
                                        <h5>비디오 쇼츠</h5>
                                    </div>
                                    <div class="icon">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </div>
                                </div>
                                
                                <div class="video-item">
                                    <video width="100%" height="240px" controls>
                                        <source src="<%= video.videoUrl %>" type="video/mp4">
                                    </video>
                                    <div class="text"><%= video.title %></div>
                                </div>
    
                                <div class="short-bottom-wrap">
                                    <div class="profile-wrap">
                                        <div class="user-img">
                                            <% if(video.photoUrl) { %>
                                                <img style="border-radius: 50%;" src="<%= video.photoUrl %>" width="42px" height="42px">
                                            <% } else { %>
                                                <img src="./imges/avatar/Avatar=1.png" width="42px" height="42px">
                                            <% } %>
                                        </div>
                                        <div class="user-id"><%= video.username %></div>
                                    </div>
                                    <div class="comment-wrap">
                                        <i class='bx bx-comment-detail' ></i>
                                        <span><%= video.favorite.length %></span>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 5</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                </div>

                <!-- 일상생활 -->
                <div class="short_gram-list">
                    
                    <div class="header">
                        <i class='bx bx-video-recording'></i>
                        <h3>일상생활</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>

                    <div class="list-wrap">
                        <% 
                            grams.forEach((gram) => {
                        %>
                        <div class="short-content">
                            <div class="content-title">
                                <div class="text">
                                    <input type="checkbox">
                                    <h5>일상생활</h5>
                                </div>
                                <div class="icon">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                            </div>
                            
                            <div class="video-item">
                                <% if(gram.gramPhoto) { %>
                                    <img src="<%= gram.gramPhoto %>">
                                <% } else { %>
                                    <img src="./imges/life/tosea.jpg">
                                <% } %>
                                <div class="text">오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.</div>
                            </div>

                            <div class="short-bottom-wrap">
                                <div class="profile-wrap">
                                    <div class="user-img">
                                        <img src="./imges/avatar/Avatar=1.png" width="42px" height="42px">
                                    </div>
                                    <div class="user-id">마리아</div>
                                </div>
                                <div class="comment-wrap">
                                    <i class='bx bx-comment-detail' ></i>
                                    <span>15</span>
                                </div>
                            </div>
                        </div>
                        <% 
                            });   
                        %>
                    </div>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 5</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                </div>


                <!-- 오디오 -->
                <div class="audio_gram-list">

                    <div class="header">
                        <i class='bx bx-video-recording'></i>
                        <h3>오디오</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>

                    <div class="list-wrap">

                        <div class="audio-content">
                            <div class="content-title">
                                <div class="text">
                                    <input type="checkbox">
                                    <h5>오디오 쇼츠</h5>
                                </div>
                                <div class="icon">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                            </div>
                            
                            <div class="audio-item">
                                <div class="audio-wrap">
                                    <audio controls disableRemotePlayback src="./imges/audio/bird3.mp3"></audio>
                                </div>
                                <div class="text">오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.</div>
                            </div>

                            <div class="audio-bottom-wrap">
                                <div class="profile-wrap">
                                    <div class="user-img">
                                        <img src="./imges/avatar/Avatar=6.png" width="42px" height="42px">
                                    </div>
                                    <div class="user-id">상큼딸기</div>
                                </div>
                                <div class="comment-wrap">
                                    <i class='bx bx-comment-detail' ></i>
                                    <span>15</span>
                                </div>
                            </div>
                        </div>
                        <div class="audio-content">
                            <div class="content-title">
                                <div class="text">
                                    <input type="checkbox">
                                    <h5>오디오 쇼츠</h5>
                                </div>
                                <div class="icon">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                            </div>
                            
                            <div class="audio-item">
                                <div class="audio-wrap">
                                    <audio controls disableRemotePlayback src="./imges/audio/bird3.mp3"></audio>
                                </div>
                                <div class="text">오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.</div>
                            </div>

                            <div class="audio-bottom-wrap">
                                <div class="profile-wrap">
                                    <div class="user-img">
                                        <img src="./imges/avatar/Avatar=6.png" width="42px" height="42px">
                                    </div>
                                    <div class="user-id">상큼딸기</div>
                                </div>
                                <div class="comment-wrap">
                                    <i class='bx bx-comment-detail' ></i>
                                    <span>15</span>
                                </div>
                            </div>
                        </div>
                        <div class="audio-content">
                            <div class="content-title">
                                <div class="text">
                                    <input type="checkbox">
                                    <h5>오디오 쇼츠</h5>
                                </div>
                                <div class="icon">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                            </div>
                            
                            <div class="audio-item">
                                <div class="audio-wrap">
                                    <audio controls disableRemotePlayback src="./imges/audio/bird3.mp3"></audio>
                                </div>
                                <div class="text">오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.</div>
                            </div>

                            <div class="audio-bottom-wrap">
                                <div class="profile-wrap">
                                    <div class="user-img">
                                        <img src="./imges/avatar/Avatar=6.png" width="42px" height="42px">
                                    </div>
                                    <div class="user-id">상큼딸기</div>
                                </div>
                                <div class="comment-wrap">
                                    <i class='bx bx-comment-detail' ></i>
                                    <span>15</span>
                                </div>
                            </div>
                        </div><div class="audio-content">
                            <div class="content-title">
                                <div class="text">
                                    <input type="checkbox">
                                    <h5>오디오 쇼츠</h5>
                                </div>
                                <div class="icon">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                            </div>
                            
                            <div class="audio-item">
                                <div class="audio-wrap">
                                    <audio controls disableRemotePlayback src="./imges/audio/bird3.mp3"></audio>
                                </div>
                                <div class="text">오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.오늘 하루도 행복하세요.</div>
                            </div>

                            <div class="audio-bottom-wrap">
                                <div class="profile-wrap">
                                    <div class="user-img">
                                        <img src="./imges/avatar/Avatar=6.png" width="42px" height="42px">
                                    </div>
                                    <div class="user-id">상큼딸기</div>
                                </div>
                                <div class="comment-wrap">
                                    <i class='bx bx-comment-detail' ></i>
                                    <span>15</span>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 5</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                </div>


            </div>

<%- include('partials/footer'); %>